.card {
    margin-bottom: 35px;
}
.upper-title {
    color: white !important;
    font-size: 1.5rem;
}
.form-button {
    text-align: center;
    width: 100% !important;
    margin-top: 20px;
}
.signiture-area{
    width: 90%;
    margin: 0 auto;
}

.director-signiture{
    text-align: center;
}
.director-signiture h5{
    margin: 0;
}
.d-signiture{
    border-bottom: 2px dotted;
    width: 90px;
    margin: 0 auto;
}
.d-signiture img{
    width: 56%;
}

.employee-signiture{
    text-align: center;
    margin-top: 56px;
    width: 70%;
}
.employee-signiture h5{
    margin: 0;
}
.e-signiture{
    border-bottom: 2px dotted;
}
.card-bottom{
    text-align: center;
    padding: 10px;
    background: #01578a;
    color: white;
}
.card-bottom h5{
    margin: 0;
}
