.add-leave-area{
    padding: 10px;
}
.top-heading{
    border-bottom: 3px solid rgb(1 87 138);
}
.input-fild-leave{
    display: inline-block;
}
.leave-fild-content{
    width: 80%;
    margin: 0 auto;
}